/* ====================
          GLOBAL
   ==================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,900);

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-image: url("/resources/img/flat_mountain_bg.png");
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    border: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #4e4e4e;
}

/* ====================
       Navigation
   ==================== */
nav {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    font-size: 11pt;
    position: fixed;
    z-index: 3;
}

.menu {
    padding: 0;
    margin-top: 0;
    width: 500px;
    height: 60px;
    z-index: 2;
}

nav ul li {
    display: inline;
    float: left;
    width: 100px;
}

nav ul a {
    color: #000;
    display: inline-block;
    width: 100px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    font-weight: 600;
    transition: all 0.3s ease;
}

nav ul li:last-child a {
    border-right: 0;
}

nav ul a:hover {
    color: #ffffff;
    background-color: #4E80A0;
}

#logoContainer {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right : 20px;
    font-size: 1.5em;
    width: 200px;
}

#logo {
    height: 50px;
    width: 50px;
    margin-top: 4px;
    align-self: center;
}


#logolink {
    display: block;
}

nav ul a:active {
    background-color: #66b5d6;
}

.active a {
    color: #ffffff;
    background-color: #4E80A0;
}

/* ====================
        LAYOUTS
   ==================== */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.settings-container {
    margin-top: 100px;
    width: 50%;
    background-color: #ffffff;
}

.settings-column-2 {
    width: 30px;
}

.accordion-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.details-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.column-left {
    width: 50%;
    text-align: right;
}

.column-right {
    width: 200px;
}

.details-container table {
    width: 80%;
}

td label {
    text-align: center;
    width: 150px;
    display: inline-block;
    background-color: #72b577;
    box-shadow: inset 0 0 4px rgba(101, 161, 106, 0.47);
    font-weight: 600;
    color: #ffffff;
    padding: 0 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.47);
}

.detail-label {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    float: right;
}

.detail-edit {

    -webkit-transition: all 0.2s ease;
}

.detail-edit:hover {
    background-color: #ffffff;
}

.card-container {
    width: 100%;
    /*background-color: #ffffff;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    padding: 20px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login {
    height: 95vh;
}

.accent-color {
    background-color: #4E80A0;
}

.accent-color-txt {
    color: #4E80A0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-icon-image {
    display: block;
    max-width: 400px;
    max-height: 400px;
    margin-right: 30px;
}

/* ====================
         INPUTS
   ==================== */

.card-input {
    margin-top: 6px;
    color: black;
    width: 316px;
    height: 45px;
    font-size: 22px;
    text-align: center;
    letter-spacing: -1px;
}

.card-dropdown {
    color: black;
    height: 50px;
    font-size: 18px;
    width: 320px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 6px;
    margin-top: 6px;
    text-align: center;
}

/* ====================
         BUTTONS
   ==================== */

.card-button {
    margin-top: 10px;
    position: relative;
    vertical-align: top;
    width: 320px;
    height: 50px;
    padding: 0;
    font-size: 22px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-align: center;
    border: 0;
    cursor: pointer;
    font-weight: 600;
}

.card-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn_small {
    margin-top: 0;
    width: 100px;
    font-size: 14px;
    height: 35px;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.btn-add {
    background: #72b577;
    color: #ffffff;
    letter-spacing: -1px;
}

.btn-neutral {
    background: #4E80A0;
    color: #ffffff;
}

.btn-back {
    background: #f24150;
    color: #ffffff;
    letter-spacing: -1px;

}

/*
* Hamburger btn
*/
.cmn-toggle-switch {
    display: none;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.cmn-toggle-switch:focus {
    outline: none;
}

.cmn-toggle-switch span {
    display: block;
    position: absolute;
    top: 27px;
    left: 12px;
    right: 12px;
    height: 4px;
    background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
}

.cmn-toggle-switch span::before {
    top: -12px;
}

.cmn-toggle-switch span::after {
    bottom: -12px;
}

/*
* toogle switch
*/

.ui-inputswitch-off {
    background-color: #f24150;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.ui-inputswitch-on {
    background-color: #94E499;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);

}

.settings-container tr td .ui-inputswitch  {
    background-color: #94E499;
    color: #ffffff;
    font-size: 12px;
    margin-top: 6px;
}

.ui-inputswitch-handle {
    width: 12px;
    background-color: #5b5b5b;
}

/* ====================
       TABLE  STYLES
   ==================== */

form.table-form {
    width: 80%;
}

table {
    padding-left: 50px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
}

table th, table td {
    padding: 10px;
    height: 35px;
}

.ui-datatable.borderless td {
    border-style: none;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    /*letter-spacing: 2px;*/
    background-color: #72b577;
    color: #ffffff;
}

.ui-datatable-even {
    background-color: #ffffff;
}

.ui-datatable-odd {
    background-color: #e8eadf;
}

.column-for-button {
    text-align: center;
}

.round {
    height: 60px;
    border-radius: 50px;
    font-size: 20px;
    color: #ffffff;
    line-height: 60px;
    text-align: center;
    background: #72b577;
    margin-top: 8px;
}

/* ====================
      SLIDABLE STUFF
   ==================== */

.slider {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */
    box-sizing: border-box;

    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slider.closed {
    max-height: 0;
}

/* ====================
           MISC
   ==================== */

.link-cursor {
    cursor: pointer;
}

/* GROWL OVERRIDES (using div selector to override primefaces (css selector priority)) */
div.ui-growl {
    top: 70px;
}

.ui-progressbar .ui-widget-header {
    background: #4E80A0;
    /*-moz-border-radius: 4px;*/
    /*-webkit-border-radius: 4px;*/
    /*border-radius: 4px;*/
}

div .ui-progressbar .ui-progressbar-value {
    margin: 0;
}

.ui-progressbar {
    /*background-color: #adadad;*/
    border: 1px solid lightgrey;
}

/* Clearfix
 ---------------------------------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ====================
       ANIMATIONS
   ==================== */

/**
* toggle button animation
*/

.cmn-toggle-switch__htx {
    /* style for toggle button */
}

.cmn-toggle-switch__htx span {
    -webkit-transition: background 0s 0.2s;
    transition: background 0s 0.2s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
    -webkit-transition-duration: 0.2s, 0.2s;
    transition-duration: 0.2s, 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.cmn-toggle-switch__htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.cmn-toggle-switch__htx.active {
    background-color: #adadad;
}

.cmn-toggle-switch__htx.active span {
    background: none;
}

.cmn-toggle-switch__htx.active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}
@-webkit-keyframes showHide {
    0%      { height: 0; }
    15%     { height: 200px; }
    85%     { height: 200px; }
    100%    { height: 0; }
}

/* ================================
           MESSAGES
   ================================ */

.notification-message-error {
    background: #E44150;
    -webkit-animation: showHide 1.2s ease-in;
}

.notification-message-success {
    background: #94E499;
    -webkit-animation: showHide 1.2s ease-in;
}

#notification-box {
    opacity: 0.9;
    width: 100%;
    border-radius: 1px;
    box-shadow: 0 0 6px #B2B2B2;
    position: fixed;
    z-index: 10;
    clear: both;
    overflow: hidden;
    height: 0;
}

.notification-message {
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.requiredErrorMessage {
    font-weight: bold;
    display: inline-block;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    padding: 10px 18px;
    position: absolute;
}

.requiredErrorMessage:before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: inline-block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 20px;
}

.point {
    margin: 5px 45px 5px 20px;
}

.point:before {
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    left: -9px;
}

.prompt-message-default {
    opacity: 0.9;
    width: 100%;
    border-radius: 1px;
    box-shadow: 0 0 6px #B2B2B2;
    position: fixed;
    z-index: 10;
    clear: both;
    overflow: hidden;
    height: 0;

}

.prompt-message {
    width: 320px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.prompt-message-success {
    background: #94E499;
    height: 200px;
    opacity: 0.9;
    width: 100%;
    position: fixed;
    z-index: 10;
    clear: both;
    overflow: hidden;
    -webkit-animation: dropDown 1.2s ease-in;
}

.prompt-message-error {
    background: #E44150;
    height: 200px;
    opacity: 0.9;
    width: 100%;
    position: fixed;
    z-index: 10;
    clear: both;
    overflow: hidden;
    -webkit-animation: dropDown 1.2s ease-in;
}

.dialog-button {
    margin-top: 10px;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 22px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-align: center;
    border: 0;
    cursor: pointer;
    font-weight: 800;
}

.ui-dialog {
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

/* Nighthack to get the goddamn button placed in center */
.ui-dialog .ui-dialog-buttonpane .dialog-button {
    margin-left: 4px;
}

.ui-widget-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

/* ============================
         SETTINGS MENU
   ============================ */

#settings-menu {
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
}

#settingsPanel {
    background-color: #ffffff;
}

/* ============================
      PRIMEFACCES OVERRIDES
   ============================ */
.ui-autocomplete-panel {
    background-color: #ffffff;
}

.ui-autocomplete {
    margin-bottom: 10px;
}

.ui-autocomplete .ui-inputfield {
    width: 316px;
    background: #ffffff url(/resources/img/icons/medical50.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
    text-align: center;
    padding: 1px 0;
    height: 45px;
    margin-top: 2px;
}

.ui-autocomplete .ui-autocomplete-dropdown {
    background-color: #ffffff;
    background-image: url(/resources/img/private6.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -50px;
    border: 0;
}

td .ui-inputfield {
    width: 60%;
}

p .ui-inputfield {
    background: #ffffff url(/resources/img/icons/medical50.svg) no-repeat 11px 8px;
    background-size: 30px 30px;
    text-align: center;
    padding: 0;
    /*padding: 7px 3px;*/
    margin-bottom: 6px;
}

.ui-inplace .ui-hidden-container {
    width: 100px;
}

.selectMenu {
    padding: 0;
}

div .ui-button-text-only .ui-button-text {
    padding: 0;
}


.ui-inplace-editor .ui-inplace-save {
    display: none;
    visibility: hidden;
}

.ui-inplace a{
    padding: 8px 10px 7px 10px;
    font-size: 14px;
    font-weight: 600;
}

.ui-password {
    padding:  0;
    margin-bottom: 6px;
}

/* !important is needed sometimes */
.ui-datatable-scrollable-body::-webkit-scrollbar {
    width: 12px !important;
}

.ui-datatable-scrollable-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2) !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}

.ui-datatable-scrollable-body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    background: rgba(89, 155, 186, 0.8) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
}

/* HISTORY GRAPH */
.timeline-frame {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    margin-top: 40px;
}

#history-graph-content .timeline-frame .timeline-event-box {
    background-color: #72b577;
    box-shadow: inset 0 0 4px rgba(101, 161, 106, 0.47);
    border: none;
    border-radius: 0px;
    font-weight: 600;
    color: #ffffff;
    padding: 0 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.47);
}

.content-noflex {
    width: 90%;
    height: 400px;
}

form p {
    margin: 0;
}
