<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/templates/default.xhtml">


    <ui:define name="content">
        <!-- Card 1 -->

        <!-- Card 1 -->

        <div class="card">
            <div class="details-container">
                <table style="width: 80%">
                    <tr>
                        <td class="column-left">
                            <label for="garageId">Garage ID</label>

                            <div class="tool-icon detail-label"></div>
                        </td>
                        <td>
                            <h:outputText id="garageId"
                                          value="#{garageDetailBean.selectedGarage.id}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-left">
                            <div class="tool-icon detail-label"></div>
                            <label for="garageName">Garage name</label>
                        </td>
                        <td>
                            <h:form>
                                <p:inplace effectSpeed="fast"
                                           widgetVar="gName"
                                           styleClass="detail-edit"
                                           emptyLabel="Edit Tool Name"
                                           id="garageName">
                                    <p:inputText value="#{garageDetailBean.selectedGarage.garageName}"
                                                 valueChangeListener="#{garageDetailBean.handleNameSave}"
                                            />
                                    <p:commandButton update="garageName notification-box" style="display: none"/>
                                    <p:commandLink value="Undo" styleClass="btn-back" onclick="PF('gName').cancel();"/>
                                </p:inplace>
                            </h:form>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-left">
                            <div class="description-icon detail-label"></div>
                            <label for="location">Location</label>
                        </td>
                        <td>
                            <h:form>
                                <p:inplace effectSpeed="fast"
                                           widgetVar="locChange"
                                           styleClass="detail-edit"
                                           emptyLabel="Edit Tool Name"
                                           id="location">
                                    <p:inputText value="#{garageDetailBean.selectedGarage.location}"
                                                 valueChangeListener="#{garageDetailBean.handleLocationSave}"/>
                                    <p:commandButton update="location notification-box" style="display: none"/>
                                    <p:commandLink value="Undo" styleClass="btn-back" onclick="PF('locChange').cancel();"/>
                                </p:inplace>
                            </h:form>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-left">
                            <div class="notes-icon detail-label"></div>
                            <label for="notes">Notes</label>
                        </td>
                        <td>
                            <h:form>
                                <p:inplace effectSpeed="fast"
                                           widgetVar="notesChange"
                                           styleClass="detail-edit"
                                           emptyLabel="Edit Tool Name"
                                           id="notes">
                                    <p:inputText value="#{garageDetailBean.selectedGarage.notes}"
                                                 valueChangeListener="#{garageDetailBean.handleNotesSave}"/>
                                    <p:commandButton update="notes notification-box" style="display: none"/>
                                    <p:commandLink value="Undo" styleClass="btn-back" onclick="PF('notesChange').cancel();"/>

                                </p:inplace>
                            </h:form>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-left">
                            <label for="created">Created</label>

                            <div class="tool-icon detail-label"></div>
                        </td>
                        <td>
                            <h:outputText id="created"
                                          value="#{garageDetailBean.selectedGarage.created}"/>
                        </td>
                    </tr>
                </table>

                <h:form rendered="#{sessionBean.sessionUser.userType eq 'admin'}">
                    <p:commandButton value="Delete garage!" styleClass="card-button btn-back btn_small"
                                     action="#{garageDetailBean.deleteGarage}">
                        <p:confirm header="Confirmation" message="You are about to delete
                            #{garageDetailBean.selectedGarage.garageName}.
                            Are you sure about this?"/>
                    </p:commandButton>
                </h:form>
            </div>
        </div>


        <br/>
        <section class="card-container">
            <div class="card">

                <h:form styleClass="table-form" id="tool-list-form"
                        onkeypress="if (event.keyCode == 13) {return false; }"
                        rendered="#{not empty garageDetailBean.toolsInGarage}">
                    <p:dataTable
                            id="toolDataTable"
                            value="#{garageDetailBean.toolsInGarage}"
                            var="tool"
                            widgetVar="toolTable"
                            filterDelay="400"
                            reflow="true"
                            rows="10"
                            paginator="true"
                            paginatorPosition="top"
                            tableStyle="table-layout: auto;"
                            styleClass="borderless">

                        <!-- Global search field -->
                        <f:facet name="header">
                            <p:inputText id="globalFilter" placeholder="Filter table"
                                         onkeyup="toolSearchTrigger('toolTable')"/>
                        </f:facet>

                        <!-- Tool ID column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{tool.id}" sortBy="#{tool.id}">
                            <f:facet name="header">ID</f:facet>
                            <h:outputText value="#{tool.id}"/>
                        </p:column>

                        <!-- Tool name column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{tool.toolName}" sortBy="#{tool.toolName}">
                            <f:facet name="header">Name</f:facet>
                            <h:outputText value="#{tool.toolName}"/>
                        </p:column>

                        <!-- Tool category column -->
                        <p:column filterMatchMode="contains" filterable="false"
                                  filterBy="#{tool.category}" sortBy="#{tool.category}">
                            <f:facet name="header">Category</f:facet>
                            <h:outputText value="#{tool.category}"/>
                        </p:column>

                        <!-- Activity column -->
                        <p:column filterable="false" sortBy="#{toolBean.getActivityScore(tool)}" exportable="false">
                            <f:facet name="header">Activity</f:facet>
                            <p:progressBar value="#{toolBean.getActivityScore(tool)}" displayOnly="true"/>
                        </p:column>

                        <!-- Last Column, with the detail button - only clickable if admin -->
                        <p:column styleClass="column-for-button" exportable="false">
                            <c:choose>

                                <c:when test="#{sessionBean.sessionUser.userType eq 'admin'}">

                                    <f:facet name="header">Details</f:facet>
                                    <h:commandButton value="View/Edit" styleClass="card-button btn-neutral btn_small"
                                                     action="#{toolDetailBean.navigateToDetail(tool)}"/>
                                </c:when>
                                <c:otherwise>
                                    <f:facet name="header">Take tool</f:facet>
                                    <p:commandButton value="Take Tool"
                                                     action="#{sessionBean.setToolStagedForTake(tool)}"
                                                     styleClass="card-button btn-neutral btn_small"
                                                     oncomplete="PF('cd').show()"
                                                     update="conform-dialog"
                                                     ajax="true"/>
                                </c:otherwise>
                            </c:choose>
                        </p:column>

                        <!-- Download links for Excel and PDF files -->
                        <f:facet name="footer">
                            <br/>
                            <h:outputText value="Download Table Data"/>
                            <br/>
                            <h:commandLink>
                                <p:graphicImage library="img" name="icons/excel.png" width="32"/>
                                <p:dataExporter type="xls" target="toolDataTable" fileName="tools"/>
                            </h:commandLink>
                            <p:spacer width="10"/>
                            <h:commandLink>
                                <p:graphicImage library="img" name="icons/pdf.png" width="24"/>
                                <p:dataExporter type="pdf" target="toolDataTable" fileName="tools"/>
                            </h:commandLink>
                        </f:facet>
                    </p:dataTable>
                </h:form>

            </div>
        </section>

        <p:confirmDialog appendTo="tool-list-form"
                         id="conform-dialog"
                         widgetVar="cd"
                         header="Confirm"
                         closeOnEscape="true"
                         width="370px"
                         styleClass="confirm-dialog">

            <ui:param name="toolName" value="#{sessionBean.toolStagedForTake.toolName}"/>
            <!-- Checks if user has tool in inventory -->
            <ui:param name="userHasTool" value="#{sessionBean.userTools.contains(sessionBean.toolStagedForTake)}"/>
            <!-- decides what type of buttons should be displayed -->

            <!-- Message to display in dialog -->
            <f:facet name="message">
                <c:if test="#{userHasTool}">
                    <h:outputText value="You cannot take tool"/>

                    <h2><h:outputText value="#{toolName}"/></h2>
                    <h:outputText value="It's already in your inventory"/>
                </c:if>

                <c:if test="#{!userHasTool}">
                    <h:outputText value="You are about to take tool:"/>

                    <h2><h:outputText value="#{toolName}"/></h2>
                </c:if>
            </f:facet>

            <!-- Buttons -->
            <c:if test="#{!userHasTool}">
                <p:commandButton
                        action="#{garageDetailBean.checkoutToolFromTable()}"
                        styleClass="dialog-button btn-add"
                        value="Take Tool"
                        update=":tool-list-form:toolDataTable notification-box"
                        oncomplete="PF('cd').hide();"
                        ajax="true"/>

                <p:commandButton
                        value="Cancel"
                        styleClass="dialog-button btn-back"
                        onclick="PF('cd').hide();"
                        type="button"/>
            </c:if>

            <c:if test="#{userHasTool}">
                <p:commandButton
                        styleClass="dialog-button btn-add"
                        value="Ok"
                        oncomplete="PF('cd').hide();"/>
            </c:if>
        </p:confirmDialog>
    </ui:define>

</ui:composition>