<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:pm="http://primefaces.org/mobile"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="content">
        <section class="card-container">
            <div class="card login">

                <h:form id="loginForm" styleClass="form-content">
                    <img id="logo" src="/resources/img/Tool-Hub-logo.png"
                         style="align-self: center; height: 150px; width: 150px"/>

                    <p style="margin: 0; margin-bottom: 20px; text-align: center; font-size: 1.5em">
                        <span style="color: #5ecfcc; font-weight: 900;">TOOL</span>
                        <span style="font-weight: 900">HUB</span>
                    </p>
                    <div>
                        <h:inputText id="username"
                                     value="#{sessionBean.sessionUser.userName}"
                                     styleClass="card-input"
                                     required="true"
                                     requiredMessage="Valid username is required"
                                     a:placeholder="username"
                                     a:autofocus="true"/>
                        <h:message for="username" errorClass="requiredErrorMessage point" style="color: red"/>
                    </div>
                    <div>
                        <h:inputSecret id="password"
                                       value="#{sessionBean.sessionUser.password}"
                                       styleClass="card-input"
                                       style="margin-top: 5px"
                                       a:placeholder="password"
                                       requiredMessage="Valid password is required"
                                       required="true"/>
                        <h:message for="password" errorClass="requiredErrorMessage point" style="color: red"/>
                    </div>
                    <p:commandButton action="#{sessionBean.login}"
                                     value="Log In"
                                     styleClass="card-button btn-add"
                                     ajax="false"
                                     update="loginForm notification-box"/>


                        <a style="display: block; height: 50px; line-height: 50px" href="resetpassword.jsf">Forgot Password</a>

                </h:form>


            </div>
        </section>
    </ui:define>
</ui:composition>