<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/templates/default.xhtml">


    <ui:define name="content">
        <!-- Card 1 -->
        <div class="card">

            <div class="details-container">

                <table>
                    <tr>
                        <td class="column-left">
                            <label for="toolId">Tool ID</label><div class="tool-icon detail-label"></div>
                        </td>
                        <td>
                            <h:outputText id="toolId"
                                          value="#{toolDetailBean.selectedTool.id}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-left">
                            <div class="tool-icon detail-label"></div><label for="toolName">Tool name</label>
                        </td>
                        <td>
                            <h:form>
                                <p:inplace effectSpeed="fast"
                                           widgetVar="nameChange"
                                           styleClass="detail-edit"
                                           emptyLabel="Edit Tool Name"
                                           id="toolName">
                                    <p:inputText value="#{toolDetailBean.selectedTool.toolName}"
                                                 valueChangeListener="#{toolDetailBean.handleNameSave}">
                                    </p:inputText>
                                    <p:commandButton update="toolName notification-box" style="display: none"/>
                                    <p:commandLink value="Undo" styleClass="btn-back" onclick="PF('nameChange').cancel();"/>
                                </p:inplace>
                            </h:form>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-left">
                            <div class="description-icon detail-label"></div><label for="toolDescription">Tool description</label>
                        </td>
                        <td>
                            <h:form>
                                <p:inplace widgetVar="descChange"
                                           effectSpeed="fast"
                                           styleClass="detail-edit"
                                           emptyLabel="Edit Details"
                                           id="toolDescription">
                                    <p:inputText value="#{toolDetailBean.selectedTool.description}"
                                                 valueChangeListener="#{toolDetailBean.handleDescriptionSave}">
                                    </p:inputText>
                                    <p:commandButton update="toolDescription notification-box" style="display: none"/>
                                    <p:commandLink value="Undo" styleClass="btn-back" onclick="PF('descChange').cancel();"/>

                                </p:inplace>
                            </h:form>
                        </td>
                    </tr>
                    <tr>
                        <td class="column-left">
                            <div class="notes-icon detail-label"></div><label for="toolNotes">Tool notes</label>
                        </td>
                        <td>
                            <h:form>
                                <p:inplace widgetVar="notesChange"
                                           effectSpeed="fast"
                                           styleClass="detail-edit"
                                           emptyLabel="Edit Notes"
                                           id="toolNotes">
                                    <p:inputText value="#{toolDetailBean.selectedTool.notes}"
                                                 valueChangeListener="#{toolDetailBean.handleNotesSave}">
                                    </p:inputText>
                                    <p:commandButton update="toolNotes notification-box" style="display: none"/>
                                    <p:commandLink value="Undo" styleClass="btn-back" onclick="PF('notesChange').cancel();"/>
                                </p:inplace>
                            </h:form>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <h:form>
                                <p:commandButton value="Delete tool" styleClass="card-button btn-back btn_small"
                                                 action="#{toolDetailBean.deleteTool}">
                                    <p:confirm header="Confirmation" message="You are about to delete #{toolDetailBean.selectedTool.toolName}. Are you sure about this?" />
                                </p:commandButton>
                            </h:form>
                        </td>
                    </tr>
                </table>



            </div>
        </div>
        <!-- Card 2 -->
        <div class="content-noflex">
            <div id="history-graph-content">
                <pe:timeline
                        id="timeline"
                        value="#{toolDetailBean.historyModel}"
                        height="300px"/>

            </div>

        </div>
    </ui:define>

</ui:composition>